.DS_Store
animated-music-player.swiftpm/.swiftpm/xcode/package.xcworkspace/xcuserdata/ruben.xcuserdatad/UserInterfaceState.xcuserstate
animated-music-player.swiftpm/.swiftpm/xcode/xcuserdata/ruben.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
